@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/RobotoRegular/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/RobotoRegular/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../fonts/RobotoRegular/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/RobotoRegular/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../fonts/RobotoRegular/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/RobotoRegular/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Light Italic";
  src: url("../fonts/RobotoRegular/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/RobotoRegular/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../fonts/RobotoRegular/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/RobotoRegular/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../fonts/RobotoRegular/Roboto-ThinItalic.ttf");
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.000035s ease;
  -o-transition: height 0.000035s ease;
  transition: height 0.000035s ease;
}

.navbar-toggle {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 10px;
  border: 0;
  outline: none;
  background: transparent;
}

.icon-bar {
  width: 20px;
  height: 2px;
  background: aqua;
  position: relative;
  display: block;
  margin-top: 6px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.account {
  width: 22px;
  margin-top: 3px;
  position: absolute;
  right: 40px;
  display: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: -2px 10%;
      -ms-transform-origin: -2px 10%;
          transform-origin: -2px 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: -1px 90%;
      -ms-transform-origin: -1px 90%;
          transform-origin: -1px 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.long {
  position: relative !important;
  padding-bottom: 50px;
}

.panel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.15);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 70px;
  background: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
  will-change: transform;
}

.fancy_title {
  position: absolute;
  top: 50%;
  border: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 5em;
}

.blue {
  background: #7DC8D2;
}

.bg-img {
  opacity: .65;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: auto;
}

.hero-title {
  z-index: 1;
  color: #ffffff;
  position: absolute;
  top: 45%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 4em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(66, 69, 89, 0.6);
}

.content {
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}

.title-h1 {
  font-size: 3.438em;
  color: white;
  line-height: 70px;
}

.sub-title {
  font-size: 1.875em;
  color: white;
  margin-top: 30px;
}

.email-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-top: 30px;
}

.email, .name, .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  opacity: 0.7;
  padding: 20px;
  border: none;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  opacity: 0.7;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-bottom-style: dashed;
  color: white;
  font-size: 30px;
}

.phone:focus {
  background: transparent;
  color: white;
  border-color: white;
}

.btn-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  padding: 22px;
  margin-left: -100px;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.btn {
  -webkit-border-radius: 40px;
          border-radius: 40px;
  padding: 22px;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.btn-share {
  margin-top: 50px;
}

.dark .title-h1 {
  color: #000000;
}

.dark .sub-title {
  color: #000000;
}

.content-extend {
  width: 100%;
}

.pills {
  padding: 10px 20px;
  background: #7DC8D2;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: white;
  margin-right: 8px;
  margin-top: 20px;
  display: inline-block;
}

.img-fix {
  width: 100%;
}

.card-block {
  margin-top: 50px;
}

.card {
  margin-top: 20px;
  border: none;
  padding: 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.card-img {
  width: 50px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-box {
  margin-top: 60px;
  text-align: center;
}

.icon-box img {
  width: 100px;
  height: 50px;
}

.icon-box .icon-text {
  font-size: 1em;
}

.massage .chat-bubble {
  border: 1px solid #eeee;
  padding: 10px;
  font-size: 13px;
}

.massage.in .chat-bubble {
  -webkit-border-radius: 10px 30px 30px 30px;
          border-radius: 10px 30px 30px 30px;
}

.massage.out {
  text-align: right;
}

.massage.out .chat-bubble {
  background: #0ac2d2;
  -webkit-border-radius: 30px 10px 30px 30px;
          border-radius: 30px 10px 30px 30px;
  color: #ffffff;
}

.persone {
  margin-top: 20px;
}

.chat-image {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar {
  height: 70px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-light {
  background-color: #ffffff;
}

.navbar-light .active > .nav-link {
  color: #0ac2d2 !important;
}

.navbar-light .nav-item .nav-link {
  font-family: 1.214em;
  color: #000000;
  font-weight: 400;
}

.navbar-light .nav-item .nav-link:hover {
  color: #0ac2d2;
}

.navbar-light .nav-item .nav-link:focus {
  color: #0ac2d2;
}

.navbar-brand {
  margin-right: 4rem;
}

.navbar-brand .logo {
  width: 100%;
}

.vertical-center a:link, .vertical-center a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.6em;
}

.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  right: 0;
  top: 7px;
  width: 2px;
  height: 12px;
  background: white;
}

.vertical-center {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-47%);
      -ms-transform: translateY(-47%);
          transform: translateY(-47%);
}

.vertical-center p {
  margin-top: 23px;
}

.vertical-center p.cta {
  margin-top: 5px;
}

.vertical-center a:hover {
  text-decoration: underline;
}

.inner {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.home {
  background: #6dcb94;
  background: #3ecc98;
}

.panel2 {
  background: #64a0d4;
  background: #47a3d1;
}

.panel3 {
  background: #e14456;
  background: #f73656;
}

.code {
  background: rgba(0, 0, 0, 0.2);
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 10;
  display: block;
}

.pagination a {
  display: block;
  height: 20px;
  width: 30px;
  margin-bottom: 5px;
  color: #D8D8D8;
  position: relative;
  padding: 4px;
  margin-bottom: 30px;
}

.pagination a .hover-text {
  position: absolute;
  right: 30px;
  top: -2px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding: 0px 15px;
  font-size: 14px;
  color: white;
}

.pagination a:before {
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
  background: #D8D8D8;
}

.pagination li:not(:last-child) a:after {
  content: "";
  position: absolute;
  background: #D8D8D8;
  height: 20px;
  width: 1px;
  bottom: -25px;
  left: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pagination li a.active:after {
  background: #F58C7C;
}

.pagination li a.active:before {
  color: #F58C7C;
  -webkit-box-shadow: inset 0 0 0 5px;
          box-shadow: inset 0 0 0 5px;
}

.pagination li a:hover .hover-text {
  opacity: 1;
  background: #F58C7C;
  position: absolute;
}

.pagination li a:hover .hover-text:after {
  content: "";
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #F58C7C;
  right: -5px;
  position: absolute;
  margin-top: 6px;
}

.tooltip-inner {
  background: #F58C7C;
}

.social-corner {
  position: absolute;
  top: 18px;
  right: 40px;
}

.social-corner iframe:first-child {
  margin-right: 3px;
}

.chat-bot {
  margin-top: 30px;
}

.question-exampel {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #e2e3e5;
  padding: 20px;
}

.question-title {
  font-size: 1.875em;
}

.question-sub-title {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  line-height: 50px;
}

.question {
  font-size: 1.071;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bubble {
  padding: 20px;
  background: #7DC8D2;
  color: white;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.arrow {
  position: relative;
  padding-right: 15px;
}

.arrow:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
}

.arrow:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.testimonials {
  width: 100%;
}

.testimonials .avatar {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid;
  border-color: #F58C7C;
  width: 90px;
  display: inline-block;
}

.testimonials .t-header {
  position: relative;
  text-align: center;
}

.testimonials .name {
  color: #F58C7C;
  display: block;
}

.testimonials .body {
  max-width: 620px;
  color: #F58C7C;
  font-size: 1.875em;
}

.owl-prev, .owl-next {
  display: none;
}

.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dots .owl-dot {
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  height: 30px;
  background: black;
  margin: 30px;
}

.owl-dots .owl-dot.active {
  background: #F58C7C;
}

.owl-dots .owl-dot:not(:last-child):after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: black;
  right: -50px;
  top: 50%;
}

.owl-dots .owl-dot.active:not(:last-child):after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: black;
  right: -50px;
  top: 50%;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: black;
}

.socials {
  margin-bottom: 20px;
}

a.social-btn {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 20px;
  background: #F58C7C;
  color: white;
  margin-right: 10px;
}

.modal .modal-content {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: #7DC8D2;
}

.modal .modal-title {
  color: white;
  text-align: center;
  width: 100%;
}

.modal button.close {
  position: absolute;
  right: 10px;
  background: white;
  opacity: 1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

.modal button.close span {
  padding: 0px 3px;
  font-weight: 100;
  color: #7DC8D2;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  border: none;
}

.modal .modal-header {
  min-height: 70px;
}

.modal .login-link {
  margin-top: 20px;
  color: white;
}

.modal .login-link:hover {
  color: white;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  outline: none;
}

button:active {
  outline: none;
}

.fade2 {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: block !important;
}

.fade2.show {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn-primary {
  border: none;
  background: white;
  color: black;
}

.btn-primary:hover {
  color: #7DC8D2;
  background: white;
}

@media screen and (min-width: 720px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .order2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .order3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .order4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .order5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .order6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .content {
    margin-top: 50px;
  }
  .title-h1 {
    font-size: 1.5em;
    line-height: inherit;
  }
  .sub-title {
    font-size: 1em;
  }
  .testimonials .body {
    font-size: 1.2em;
  }
  .navbar-brand .logo {
    width: 170px;
  }
  .hero-title {
    font-size: 2em;
  }
  .email-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-form .btn-submit {
    position: relative;
    display: block;
    margin: 10px 0px;
    background: white;
  }
  .header {
    position: fixed;
    height: 50px;
  }
  .header .navbar {
    height: 50px;
  }
  .panel {
    position: relative;
  }
  .navbar-toggle, .account {
    display: inline-block;
  }
  .navbar-collapse {
    padding: 10px;
    background: #7DC8D2;
    -webkit-border-radius: 20px 20px 20px 20xp;
            border-radius: 20px 20px 20px 20xp;
    -webkit-border-bottom-left-radius: 20px;
            border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
            border-bottom-right-radius: 20px;
    margin-top: 4px;
  }
  .navbar-collapse .navbar-light .active > .nav-link {
    color: white;
  }
  .card-block {
    margin-top: 10px;
  }
}
