@charset "UTF-8";
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Light Italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}

body {
  font-family: Roboto, sans-serif;
}

a, button, .navbar-toggle:focus {
  outline: none;
}

.btn {
  font-family: "Roboto Medium", sans-serif;
}

.panel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2);
}

.hero {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: inherit;
  display: block;
}

.long .content {
  margin-bottom: 0rem !important;
}

.long .sub-title {
  margin-top: 50px;
}

.long .title {
  margin-top: 50px;
}

.panel {
  background: #ffffff;
}

.panel-bg_1 {
  background: #fff url("../img/hero.png") no-repeat 50% center;
  -webkit-background-size: cover;
          background-size: cover;
}

.panel-bg_2 {
  background: #fff url("../img/hero-2.png") no-repeat 50% center;
  -webkit-background-size: cover;
          background-size: cover;
}

.panel-bg_3 {
  background: #fff url("../img/hero-2.png") no-repeat 50% center;
  -webkit-background-size: cover;
          background-size: cover;
}

.panel-bg_blue {
  background-color: #AAC6E3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(66, 69, 89, 0.6);
}

.hero-title {
  z-index: 10;
  color: white;
  position: absolute;
  top: 42.5%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 3.438em;
  width: 100%;
}

.hero-title-mobile {
  display: none;
  z-index: 10;
  color: white;
  position: absolute;
  top: 45%;
  bottom: 0px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 3.438em;
  width: 100%;
}

.display-1 {
  font-size: 3.438em;
  font-family: "Roboto Medium", sans-serif;
}

.display-2 {
  font-size: 1.875em;
  font-family: "Roboto Medium", sans-serif;
  font-weight: 300;
}

.display-3 {
  font-size: 1.286em;
}

.display-4 {
  font-size: 3.438em;
  font-family: "Roboto Medium", sans-serif;
}

.panel_1 .sub-title {
  margin-top: 5.813rem;
}

.panel_2 .sub-title {
  margin-top: 6.938rem;
}

.panel_3 .sub-title {
  margin-top: 3.3rem;
}

.panel_3 .pills-block {
  margin-top: 3.125rem;
}

.panel_4 .card {
  margin-top: 2.063rem;
}

.panel_6 .sub-title {
  margin-top: 2rem;
}

.panel_6 .number {
  margin-top: 5.813rem;
}

.panel_8 .subscribe-form {
  margin-top: 10.63rem;
}

.panel_10 .sub-title {
  margin-top: 6.25rem;
}

.dark .title, .dark .sub-title {
  color: #000000;
}

.title, .sub-title {
  color: #ffffff;
}

.vertical-center a:link, .vertical-center a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.6em;
}

.vertical-center {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 47%;
  -webkit-transform: translateY(-47%);
      -ms-transform: translateY(-47%);
          transform: translateY(-47%);
}

.vertical-center p {
  margin-top: 23px;
}

.vertical-center p.cta {
  margin-top: 5px;
}

.vertical-center a:hover {
  text-decoration: underline;
}

.inner {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 10;
  display: block;
}

.pagination a {
  display: block;
  height: 20px;
  width: 30px;
  margin-bottom: 5px;
  color: #D8D8D8;
  position: relative;
  padding: 4px;
  margin-bottom: 30px;
}

.pagination a .hover-text {
  position: absolute;
  right: 30px;
  top: -2px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding: 0px 15px;
  font-size: 14px;
  color: white;
}

.pagination a:before {
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
  background: #D8D8D8;
}

.pagination li:not(:last-child) a:after {
  content: "";
  position: absolute;
  background: #D8D8D8;
  height: 20px;
  width: 1px;
  bottom: -25px;
  left: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pagination li a.active:after {
  background: #F58C7C;
}

.pagination li a.active:before {
  color: #F58C7C;
  -webkit-box-shadow: inset 0 0 0 5px;
          box-shadow: inset 0 0 0 5px;
}

.pagination li a:hover .hover-text {
  opacity: 1;
  background: #F58C7C;
  position: absolute;
}

.pagination li a:hover .hover-text:after {
  content: "";
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #F58C7C;
  right: -5px;
  position: absolute;
  margin-top: 6px;
}

.tooltip-inner {
  background: #F58C7C;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
  will-change: transform;
}

.navbar {
  height: 70px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-light {
  background-color: #ffffff;
}

.navbar-light .active > .nav-link {
  color: #AAC6E3 !important;
}

.navbar-light .nav-item .nav-link {
  font-family: 1.214em;
  color: #000000;
  font-weight: 400;
}

.navbar-light .nav-item .nav-link:hover {
  color: #AAC6E3;
}

.navbar-light .nav-item .nav-link:focus {
  color: #AAC6E3;
}

.navbar-brand {
  margin-right: 6rem;
  padding-top: 0;
}

.navbar-brand .logo {
  width: 281px;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.0035s ease-in-out;
  -o-transition: height 0.0035s ease-in-out;
  transition: height 0.0035s ease-in-out;
}

.navbar-toggle {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  outline: none;
  background: transparent;
}

.icon-bar {
  width: 20px;
  height: 3px;
  background: #AAC6E3;
  position: relative;
  display: block;
  margin-top: 4px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.account {
  width: 22px;
  margin-top: 3px;
  position: absolute;
  right: 60px;
  display: none;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: -1px 10%;
      -ms-transform-origin: -1px 10%;
          transform-origin: -1px 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0px 90%;
      -ms-transform-origin: 0px 90%;
          transform-origin: 0px 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.content {
  margin-top: 7.688rem;
  z-index: 100;
  padding-bottom: 100px;
  display: block;
}

.content-extend {
  width: 100%;
}

.sub-title {
  line-height: 35px;
}

.email-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-top: 60px;
}

.panel_1 .email-form {
  margin-top: 2.9rem;
}

.email, .name, .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  opacity: 0.7;
  padding: 20px;
  border: none;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  opacity: 1;
  padding: 13px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-bottom-style: dashed;
  color: white;
  font-size: 30px;
}

.phone:focus {
  background: transparent;
  color: white;
  border-color: white;
}

.subscribe-form {
  margin-top: 200px;
}

.btn-subscribe {
  padding: 20px 30px;
  max-width: 170px;
  margin-top: 1.2rem;
}

input {
  width: 100%;
}

.btn {
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.btn:focus {
  outline: none;
  border: none;
}

.btn:hover {
  outline: none;
  border: 0;
}

.btn-primary {
  border: none;
  background: #ffffff;
  color: #000000;
  padding: 20px 40px;
}

.btn-primary:hover {
  background: #ffffff;
  color: #AAC6E3;
}

.btn-big {
  padding: 20px 40px;
  margin-top: 5.125rem;
}

.btn-rounded {
  -webkit-border-radius: 40px;
          border-radius: 40px;
}

.btn-mr-left {
  margin-left: -60px;
  margin-top: 1.2rem;
}

.btn-phone {
  margin-top: 1.2rem;
}

.footer .mail {
  display: none;
}

.pills {
  padding: 10px 20px;
  background: #AAC6E3;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: white;
  margin-right: 8px;
  margin-top: 20px;
  display: inline-block;
}

.card-block {
  margin-top: 50px;
}

.card {
  margin-top: 20px;
  border: none;
  padding: 49px 20px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  min-height: 25rem;
  font-size: 1.125em;
}

.card-img {
  width: 50px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat {
  max-width: 370px;
}

.text-right {
  text-align: right !important;
}

.massage .name {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  width: 100%;
  padding-top: 0px;
  font-weight: 500;
  padding: 0px 0px 0px 0px;
  opacity: 1;
}

.massage .chat-bubble {
  border: 1px solid #eeee;
  padding: 10px;
  font-size: 13px;
  text-align: left;
}

.massage .chat-bubble p {
  padding-left: 10px;
  padding-top: 10px;
}

.massage.in .chat-bubble {
  -webkit-border-radius: 10px 30px 30px 30px;
          border-radius: 10px 30px 30px 30px;
}

.massage.out {
  text-align: right;
}

.massage.out .chat-bubble {
  background: #AAC6E3;
  -webkit-border-radius: 30px 10px 30px 30px;
          border-radius: 30px 10px 30px 30px;
  color: #ffffff;
  line-height: 16px;
}

.persone {
  margin-top: 20px;
}

.chat-image {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 28px;
}

.chat-bot {
  margin-top: 70px;
}

.question-exampel {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #e2e3e5;
  padding: 20px;
}

.question-title {
  font-size: 18px;
  font-weight: 500;
}

.question-sub-title {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  line-height: 50px;
}

.question {
  font-size: 18px;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bubble {
  padding: 8px 27px 9px 27px;
  background: #AAC6E3;
  color: white;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.mail, .socials {
  display: none;
}

.icon-box {
  margin-top: 10.925rem;
  text-align: center;
}

.icon-box img {
  width: 100px;
  height: 50px;
}

.icon-box .icon-text {
  font-size: 1.563em;
  font-family: "Roboto Medium", sans-serif;
  margin-top: 30px;
  line-height: 27px;
}

.testimonials {
  width: 100%;
}

.testimonials .avatar {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid;
  border-color: #F58C7C;
  width: 120px;
  display: inline-block;
}

.testimonials .t-header {
  position: relative;
  text-align: center;
}

.testimonials .name {
  color: #F58C7C;
  display: block;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px 0px 0px 0px;
}

.testimonials .position {
  margin-bottom: 39px;
}

.testimonials .body {
  max-width: 700px;
  color: #F58C7C;
  font-size: 1.875em;
}

.owl-prev, .owl-next {
  display: none;
}

.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 150px;
}

.owl-dots .owl-dot {
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 23px;
  height: 23px;
  background: black;
  margin-right: 150px;
  margin-top: 69px;
}

.owl-dots .owl-dot.active {
  background: #F58C7C;
}

.owl-dots .owl-dot:not(:last-child):after {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  background: black;
  right: -135px;
  top: 50%;
}

.owl-dots .owl-dot.active:not(:last-child):after {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  background: black;
  top: 50%;
}

@media screen and (min-height: 720px) {
  .carousel.owl-carousel.owl-loaded.owl-drag:after {
    content: "»";
    position: absolute;
    right: 20px;
    font-size: 20em;
    top: 5.938rem;
    opacity: 0.5;
    color: coral;
  }
  .carousel.owl-carousel.owl-loaded.owl-drag:before {
    content: "«";
    position: absolute;
    left: 20px;
    font-size: 20em;
    top: 5.938rem;
    opacity: 0.5;
    color: coral;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: black;
}

.footer .socials {
  margin-bottom: 30px;
}

.footer a.social-btn {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 10px;
  background: #F58C7C;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.footer a.social-btn:hover {
  background-color: #3b5998;
}

.footer a.social-btn:focus {
  background-color: #3b5998;
}

.footer .mail, .footer .socials {
  display: block;
}

.footer i {
  font-style: normal;
}

.modal .modal-content {
  background: #AAC6E3;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.modal .modal-header, .modal .modal-footer {
  border: none;
}

.modal .modal-body {
  padding-top: 70px;
}

.modal .modal-footer {
  padding: 0px 15px 30px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .register-nav-link {
  margin-top: 10px;
  color: #ffffff;
}

.modal .close {
  opacity: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0pc 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0pc 0px 10px rgba(0, 0, 0, 0.2);
}

.modal .close span {
  color: #AAC6E3;
  font-weight: 100;
}

.modal .modal-title {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.img-fix {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .order2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .order3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .order4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .order5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .order6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-title-mobile {
    display: block;
  }
  .hero-title {
    display: none;
  }
  .navbar-brand {
    margin-right: 0;
    width: 177px;
    margin-bottom: 4px;
  }
  .navbar-brand .logo {
    width: 177px;
  }
  .pills {
    padding: 10px 8px;
    background: #7DC8D2;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: white;
    margin-right: 0px;
    margin-top: 20px;
    display: inline-block;
    font-size: 11px;
  }
  .display-1 {
    font-size: 1.625em;
    line-height: 29px;
  }
  .display-2 {
    font-size: 1em;
    line-height: 24px;
  }
  .title {
    margin-top: 40px;
  }
  .card {
    font-size: 0.813em;
    padding: 10px 10px 31px 10px;
    text-align: center;
    min-height: auto !important;
  }
  .chat-bubble p {
    font-size: 0.919em;
  }
  .testimonials {
    text-align: center;
  }
  .question-title {
    font-size: 0.813em;
  }
  .question-sub-title {
    font-size: 0.688em;
  }
  .question-exampel {
    padding-bottom: 0px;
  }
  .question {
    font-size: 0.813em;
  }
  .modal .modal-body {
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 1.8em;
    line-height: inherit;
  }
  .sub-title {
    font-size: 1.2em;
  }
  .testimonials .body {
    font-size: 1.2em;
  }
  .hero-title {
    font-size: 2em;
  }
  .email-form {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-form .btn-submit {
    position: relative;
    display: block;
    margin: 10px 0px;
    background: white;
    margin-top: 1.2rem;
  }
  .subscribe-form {
    margin-top: 30px;
  }
  .header {
    z-index: 100;
    position: fixed;
    height: 50px;
  }
  .header .navbar {
    height: 50px;
  }
  .panel {
    position: relative;
  }
  .navbar-toggle, .account {
    display: inline-block;
  }
  .navbar-collapse {
    padding: 10px;
    background: #AAC6E3;
    -webkit-border-radius: 20px 20px 20px 20xp;
            border-radius: 20px 20px 20px 20xp;
    -webkit-border-bottom-left-radius: 20px;
            border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
            border-bottom-right-radius: 20px;
    margin-top: 4px;
  }
  .navbar-collapse .navbar-light .active > .nav-link {
    color: white;
  }
  .navbar-collapse .navbar-light .active > .nav-link:hover {
    color: white !important;
  }
  .navbar-collapse .navbar-light .active > .nav-link:focus {
    color: white !important;
  }
  .card-block {
    margin-top: 10px;
    min-height: auto !important;
  }
  .chat-bot {
    margin-top: 20px;
  }
  .btn-mr-left {
    margin-left: 0;
  }
  .btn-primary {
    padding: 20px;
  }
  .owl-dots {
    margin-left: 45px;
  }
  .owl-dots .owl-dot {
    margin-right: 50px;
  }
  .owl-dots .owl-dot:not(:last-child):after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background: black;
    right: -38px;
    top: 50%;
  }
  .owl-dots .owl-dot.active:not(:last-child):after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background: black;
    top: 50%;
  }
  .panel {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .footer .socials {
    display: none;
  }
  .icon-box .icon-text {
    font-size: 1em;
  }
  .mail, .socials {
    display: block;
  }
  .mail a, .socials a {
    color: white;
  }
  .testimonials {
    text-align: center;
    position: relative;
    display: block !important;
  }
  .socials {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .socials a.social-btn {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 20px;
    background: #F58C7C;
    color: white;
    margin-right: 10px;
  }
  .socials a.social-btn:hover {
    background-color: #3b5998;
  }
  .socials a.social-btn:focus {
    background-color: #3b5998;
  }
  .navbar-light .active > .nav-link {
    color: white !important;
  }
  .nav-link:focus {
    color: white !important;
  }
  .nav-link:hover {
    color: white !important;
  }
  .email-form {
    margin-top: 10px;
  }
  .icon-box {
    margin-top: 60px;
  }
  .email-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrow {
    padding-top: 60px;
  }
  span.next {
    z-index: 45;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .arrow {
    position: absolute;
    width: 60px;
    height: 45px;
    bottom: 50px;
    background-color: transparent;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    left: 47%;
    margin-left: -22.5px;
    z-index: 45;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    color: #fff;
  }
  .arrow:hover {
    color: #fff;
  }
  .arrow::before, .arrow::after {
    content: "";
    position: absolute;
    left: 8px;
    width: 45px;
    height: 45px;
    border: rgba(255, 255, 255, 0.2) 22px solid;
    opacity: 0.3;
    -webkit-animation: ripple 3.0s ease-out infinite;
            animation: ripple 3.0s ease-out infinite;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: -1;
    top: 9px;
  }
  .arrow:after {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  @-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.75;
    }
    50%, 100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.75;
    }
    50%, 100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0;
    }
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
              transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
              transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
              transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
              transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
              transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
              transform: rotate(-45deg) translate(0, 0);
    }
  }
}

@-webkit-keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}

@keyframes hover-color {
  from {
    border-color: #c0c0c0;
  }
  to {
    border-color: #3e97eb;
  }
}

.magic-radio, .magic-checkbox {
  position: absolute;
  display: none;
}

.magic-radio[disabled], .magic-checkbox[disabled] {
  cursor: not-allowed;
}

.magic-radio + label, .magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 20px;
}

.magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: hover-color;
          animation-name: hover-color;
}

.magic-radio + label:before, .magic-checkbox + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  content: '';
  border: 2px solid #ffffff;
}

.magic-radio + label:after, .magic-checkbox + label:after {
  position: absolute;
  display: none;
  content: '';
}

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4;
}

.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after {
  cursor: not-allowed;
}

.magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after {
  cursor: not-allowed;
}

.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
  border: 1px solid #e4e4e4;
  -webkit-animation-name: none;
          animation-name: none;
}

.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
  border-color: #e4e4e4;
}

.magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
  -webkit-animation-name: none;
          animation-name: none;
}

.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
  display: block;
}

.magic-radio + label:before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffffff;
}

.magic-radio:checked + label:before {
  border: 2px solid #ffffff;
}

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9;
}

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9;
}

.magic-checkbox + label:before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 6px;
  height: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}

.magic-checkbox:checked + label:before {
  background: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9;
}
